{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Confirm your details
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Details sent by Dutch Government
      </h1>

      <br>

      {% include "includes/user-details.html" %}

      <br>
      <br>

      <div class="form-group">
        <a href="/single-brand/national-insurance/contact-details" class="button">Continue</a>
      </div>

    <!-- <p><a href="#">These details are wrong</a></p> -->

    </div>
  </div>

</main>

{% endblock %}
