{% extends "layout-share-code.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/share-code/create-code/share-your-details">Back</a>

      <form action="/share-code/create-code/how-to-share" method="post" class="form">

        <h1 class="form-title heading-large">
          Why are you sharing your information?
        </h1>

      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">What details do you want to share?</legend>

          <p>This works out what data needs to be shared.</p>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="radio" name="data_to_share" value="email">
            <label for="example-contact-by-email">Open a bank account</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="radio" name="data_to_share" value="text message">
            <label for="example-contact-by-text">Rent a property</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="radio" name="data_to_share" value="letter">
            <label for="example-contact-by-letter">Pay council tax</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="radio" name="data_to_share" value="letter">
            <label for="example-contact-by-letter">Use the NHS</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="radio" name="data_to_share" value="letter">
            <label for="example-contact-by-letter">Get a phone contract</label>
          </div>

          <div class="multiple-choice" data-target="other">
            <input id="example-contact-by-letter" type="radio" name="data_to_share" value="letter">
            <label for="example-contact-by-letter">Something else</label>
          </div>

          <div class="panel panel-border-narrow js-hidden" id="other">
            <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
          </div>

        </fieldset>
      </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>    

</main>
{% endblock %}
