{% extends "layout-share-code.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/share-code/create-code/data-to-share">Back</a>

      <form action="/share-code/create-code/confirmation-page" method="post" class="form">

        <h1 class="form-title heading-large">
          How do you want to share your details
        </h1>

      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">How should we send to you your National Insurance number?</legend>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="radio" name="how-to-contact" value="email">
            <label for="example-contact-by-email">Email</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
            <label class="form-label" for="contact-email">Email address</label>
            <input class="form-control" name="contact-email" type="text" id="contact-email">
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="radio" name="how-to-contact" value="text message">
            <label for="example-contact-by-text">Printable PDF</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="radio" name="how-to-contact" value="letter">
            <label for="example-contact-by-letter">just the code</label>
          </div>

        </fieldset>
      </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>    

</main>
{% endblock %}
