<h1 class="heading-large">Can we access your details from the Dutch government?
</h1>

<p>We will access your:</p>

<ul class="list list-bullet">
  <li>name</li>
  <li>date of birth</li>
  <li>nationality</li>
</ul>

{% if data.journey=="multiple-brands" or data.journey=="single-brands"  %}

	<br>

	<div class="notice">
	  <i class="icon icon-important">
	    <span class="visually-hidden">Warning</span>
	  </i>
	  <strong class="bold-small">
	   Your information will not be shared with the Dutch government
	  </strong>
	</div>

	<br>
	<br>

{% endif %}

<div class="form-group">
  <input class="button" type="submit" value="Yes - access these details">
</div>
