{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/single-brand/eu/dutch/registered">Back</a>

      <h1 class="heading-large">Things you will need
      </h1>

      <form class="form" action="/single-brand/eu/dutch/registered/password/login" method="post">

        <p>To login and access your identity details you will need:</p>

        <ul class="list list-bullet">
          <li>DigiD number</li>
          <li>Password</li>
        </ul>

        <p>{{ data['how-to-login'] }} data from previous page input</p>

        {% if data['how-to-login']=="midden_via_strawberry" %}

          <p>This worked</p>

        {% else %}

          <p>Not working</p>

        {% endif %}

        <div class="form-group">
          <input class="button" type="submit" value="Continue to login">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
