{% extends "layout-send.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/send/confirm-your-details">Back</a>

      <form action="/send/email/notify" method="post" class="form">

        <h1 class="heading-large">Who should we send your details to?</h1>

        <p>Enter the email address of the person you want to share your identity details with. They'll get an email with a link to view your identity details.</p>

        <p><a href="/send/email/see-what-gets-sent">See what gets sent to someone</a></p>

        <p>The email link:</p> 

        <ul class="list-bullet">
          <li>lasts for 30 days</li>
          <li>can only be viewed once</li>
        </ul>

        <br>

        <!-- Full name -->
        <div class="form-group">
          <label class="form-label">Email address</label>
          <input name="someones-email" type="text" class="form-control form-control" id="full-name">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Send">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
