{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div style="background: #DEE0E2; padding: 0 0 18px 18px;">

  <a class="link-back" href="/send/email" style="background: ">Back</a>

  <p>This is what someone see when you send your details</p>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Jan Robin Reicht</h1>
        
      <table id="details-table">
        <tbody>
          <tr>
            <td>Date of birth:</td>
            <td>31 July 1988</td>
          </tr>
          <tr>
           <td>Nationality:</td>
            <td>Dutch</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</main>

{% endblock %}
