{% extends "layout-send.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a class="link-back" href="/send/work-out-method/nationality">Back</a>

  <form action="/send/work-out-method/time-in-uk" method="post" class="form">

    <h1 class="form-title heading-large">
      Do you have any other nationalities?
    </h1>

    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">Where do you live?</legend>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="multiple_nationalities" value="Yes">
          <label for="radio-1">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="multiple_nationalities" value="No">
          <label for="radio-2">No</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
