{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/single-brand/eu/dutch/registered/password/login">Back</a>

      <form action="/single-brand/eu/passing-data" method="post" class="form">

        <h1 class="form-title heading-large">
          Check your phone
        </h1>

        <p>We’ve sent you a text message with a security code</p>

        <!-- National Insurance number -->
        <div class="form-group">
          <label class="form-label" for="ni-number">
            Text message code
          </label>
          <input name="sms-code" type="text" class="form-control form-control-1-8" id="dutch-digid">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

        <p><a href="#">Not recieved a text message?</a></p>

      </form>

    </div>
  </div>

</main>
{% endblock %}
