{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Continue to Digid
      </h1>

      <form class="form" action="/multiple-brands/eu/dutch/registered" method="post">

        <p>You’ll now verify your identity on Dutch Government’s website.</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue to Digid">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
