{% extends "layout-share-code.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a class="link-back" href="/share-code/eu/dutch/done-it-before">Back</a>

  <form action="/share-code/eu/dutch/not-registered/redirect" method="post" class="form">

    <h1 class="form-title heading-large">
      Do you have a citizen service number?
    </h1>

    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">Do you have a Dutch DigiD?</legend>

        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="has-citizen-number" value="You">
          <label for="radio-2">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="has-citizen-number" value="No">
          <label for="radio-3">No</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
