{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a class="link-back" href="/single-brand/choose-method/multiple-nationalities">Back</a>

  <form action="/single-brand/choose-method/result" method="post" class="form">

    <h1 class="form-title heading-large">
      What is your other nationality?
    </h1>

    <!-- Full name -->
    <div class="form-group">
      <input name="other_nationality" type="text" class="form-control form-control" id="full-name">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
