{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a class="link-back" href="/single-brand/explain-prove-identity-reason">Back</a>

  <form action="/single-brand/eu/dutch/login-type" method="post" class="form">

    <h1 class="form-title heading-large">
      Do you have a Dutch DigiD?
    </h1>

    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">Do you have a Dutch DigiD?</legend>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="registered" value="Yes">
          <label for="radio-1">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="registered" value="No">
          <label for="radio-2">No</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="registered" value="Can't remember">
          <label for="radio-3">Can't remember</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
