{% extends "layout-vary.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


      <a class="link-back" href="/work-out-method/time-in-uk">Back</a>

      <form action="/work-out-method/multiple-nationalities" method="post" class="form">

        <h1 class="form-title heading-large">
          What is your nationality?
        </h1>

        <p>Knowing helps us work out if your identity can be checked by another countries government.</p>

        <!-- country picker https://github.com/alphagov/accessible-autocomplete -->
        {% include "includes/pick-nationality.html" %}

        <br>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>
    
    </div>
  </div>

</main>
{% endblock %}
