{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">


      <a class="link-back" href="/multiple-brands/verify/work-out-method/time-in-uk">Back</a>

      <form action="/multiple-brands/verify/work-out-method/multiple-nationalities" method="post" class="form">

        {% include "includes/nationality.html" %}

        <!-- Full name -->
        <div class="form-group">
          <input name="nationality" type="text" class="form-control form-control" id="full-name">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>
    
    </div>
  </div>

</main>
{% endblock %}
