{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Can we access your details from the Dutch government?
      </h1>

      <form class="form" action="/multiple-brands/eu/dutch/done-it-before" method="post">

        <p>We will access your:</p>

        <ul class="list list-bullet">
          <li>name</li>
          <li>date of birth</li>
          <li>nationality</li>
        </ul>
        
        <br>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
           Your tax information will not be shared with the Dutch government</strong>
        </div>

        <br>
        <br>

        <div class="form-group">
          <input class="button" type="submit" value="Yes - access these details">
        </div>

        <a href="/multiple-brands/verify/work-out-method/result">Try a different way to prove my identity</a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
