{% extends "layout-share-code.html" %}

{% block page_title %}
  Share your details
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Details sent by Dutch Government 
      </h1>

      <br>

      {% include "includes/user-details.html" %}

      <br>
      <br>

      <div class="form-group">
        <a href="/share-code/create-code/" class="button">Share your information</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
