{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/multiple-brands">Back</a>

      <form class="form" action="/multiple-brands/verify/start" method="post">

        {% include "includes/reason-to-check.html" %}

        {% include "includes/things-to-check.html" %}

        <p>You can prove who you are using GOV.UK Verify. If you have not used GOV.UK Verify before, it will take you about 15 minutes to get set up. You can access other government services securely wherever you see the GOV.UK Verify logo.</p>

        <div class="verify-block">
          <p><img src="/public/images/verify-logo.png" class="verify-logo">
            <span class="bold">GOV.UK</span><br>
            Verify
          </p>
        </div>

        <br>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
