{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

      <form action="/single-brand/national-insurance/confirm-your-details" method="post" class="form">

        <h1 class="form-title heading-large">
          {% include "includes/passing-data.html" %}
        </h1>

        <p class="lede"><div class="loader"></div></p>

      </form>

</main>

<script>
  (function () {
    window.setTimeout( function(){
       window.location = "/multiple-brands/verify/account-created";
    }, 5000 );
  })();
</script>

{% endblock %}
