{% extends "layout-send.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/send/work-out-method/result">Back</a>

      <form class="form" action="/send/eu/dutch/registered" method="post">

        {% include "includes/consent.html" %}

        <a href="#">Try a different way to prove my identity</a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
