{% extends "layout-send.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <a class="link-back" href="/send/used-service-before">Back</a>

  <form action="#" method="post" class="form">

    <h1 class="form-title heading-large">
      How did you access your detail last time?
    </h1>

    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">How did you access your detail last time?</legend>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="login_from_last_time" value="Yes">
          <label for="radio-1">GOV.UK Verify</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="login_from_last_time" value="Yes">
          <label for="radio-1">Online banking</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="login_from_last_time" value="Can't remember">
          <label for="radio-3">European ID</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-4" type="radio" name="login_from_last_time" value="Can't remember">
          <label for="radio-4">Can't remember</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
