{% extends "layout-vary.html" %}

{% block page_title %}
  Prove your identity in the UK
{% endblock %}

{% block content %}
  
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds"> 

        <h1 class="heading-large">How did you login last time?
        </h1>

        <form class="form" action="#" method="post">

          <table>
            <tbody>

                <tr>
                  <td>
                    <img src="/public/images/logos/royal-mail.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose Royal Mail</a></td>
                </tr>
                <tr>
                  <td>
                    <img src="/public/images/logos/post-office.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose Post Office</a></td>
                </tr>
                <tr>
                  <td>
                    <img src="/public/images/logos/citizensafe.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose CitizenSafe</a></td>
                </tr>

              <tr>
                <td>
                  <img src="/public/images/digid-logo.png" id="digid-logo">
                </td>
                <td><a class="button" href="#" role="button">Choose Dutch identity details</a></td>
              </tr>

                <tr>
                  <td>
                    <img src="/public/images/logos/experian.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose Experian</a></td>
                </tr>
                <tr>
                  <td>
                    <img src="/public/images/logos/morpho.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose SecureIdentity</a></td>
                </tr>
                <tr>
                  <td>
                    <img src="/public/images/logos/digidentity.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose Digidentity</a></td>
                </tr>
                <tr>
                  <td>
                    <img src="/public/images/logos/barclays.png" class="company-logo">
                  </td>
                  <td><a class="button" href="#" role="button">Choose Barclays</a></td>
                </tr>

            </tbody>
          </table>

        </form>

      </div>
    </div>
  </main>

{% endblock %}
