{% extends "layout-send.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/send/used-service-before">Back</a>

      <form action="/send/intro-page" method="post" class="form">

        <h1 class="form-title heading-large">
          What information do you need to share?
        </h1>

        <p>Select all that apply:</p>

      <div class="form-group">
        <fieldset>

          <legend class="visually-hidden">What information do you need to share?</legend>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="checkbox" name="specify_data" value="data of birth">
            <label for="example-contact-by-text">First name</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="checkbox" name="specify_data" value="name">
            <label for="example-contact-by-email">Surname</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="checkbox" name="specify_data" value="nationality">
            <label for="example-contact-by-letter">Date of birth</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="checkbox" name="specify_data" value="data of birth">
            <label for="example-contact-by-text">Place of birth</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-letter">
            <input id="example-contact-by-letter" type="checkbox" name="specify_data" value="nationality">
            <label for="example-contact-by-letter">Current address</label>
          </div>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="checkbox" name="specify_data" value="name">
            <label for="example-contact-by-email">ID number</label>
          </div>

        </fieldset>
      </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>    

</main>
{% endblock %}
