{% extends "layout-share-code.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/share-code/eu/dutch/registered/password">Back</a>

      <form action="/share-code/passing-data" method="post" class="form">

        <h1 class="form-title heading-large">
          Login details
        </h1>

        <!-- National Insurance number -->
        <div class="form-group">
          <label class="form-label-bold" for="ni-number">
            DigiD
            <span class="form-hint">
              This can be found XXX 
            </span>
          </label>
          <input name="dutch-digid" type="text" class="form-control" id="dutch-digid">
        </div>

        <details>

          <summary><span class="summary">Help finding your DigiD</span></summary>

          <div class="panel panel-border-narrow">

            <p>
              Your DigiD can be found on your registration letter.
            </p>

          </div>

        </details>

        <br>

        <!-- National Insurance number -->
        <div class="form-group">
          <label class="form-label-bold" for="ni-number">
            Password
          </label>
          <input name="password" type="text" class="form-control" id="dutch-digid">
          <br><br>
          <a href="#">Forgot my password</a>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
