{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/single-brand/explain-prove-identity-reason">Back</a>

      <h1 class="heading-large">You need to prove your identity
      </h1>

      <form class="form" action="/single-brand/choose-method/time-in-uk" method="post">

        <p class="lede">To check if you're entitled to a National Insurance number we need to know who you are.</p>

        <p class="lede">To work out the quickest way to prove your identity, you will be asked some questions.</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue to questions">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
