{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/single-brand/explain-prove-identity-reason">Back</a>

      <form class="form" action="/work-out-method/time-in-uk" method="post">

        {% include "includes/reason-to-check.html" %}

        {% include "includes/things-to-check.html" %}

        <p>To work out the quickest way to prove your identity, you will be asked some questions.</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue to questions">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
