{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <form class="form" action="/multiple-brands/confirm-your-details" method="post">

        <div class="govuk-box-highlight" id="share-code-box" style="background: #005ea5;">

          <h2 class="bold-large">You now have a GOV.UK Verify account</h2>

          <br>

          <p class="lede">You can access other government services securely wherever you see the GOV.UK Verify logo.</p>
          
          <p><img class="verify-logo-block" src="/public/images/verify-logo.svg"></p>

            <br>

          <a class="button" href="/multiple-brands/confirm-your-details" role="button" style="    background: #fff;
    color: #005ea5;">Contine to National Insurance number</a>

        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
