{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/multiple-brands/eu/dutch/not-registered">Back</a>

      <h1 class="heading-large">Register for a Dutch DigiD
      </h1>

      <form class="form" action="/single-brand/choose-method/nationality" method="post">

        <p class="lede">To access you details and apply for a National Insurance number online, you need to <a href="https://digid.nl/aanvragen">register for a Dutch DigiD</a>.</p>

      </form>

    </div>
  </div>
</main>

{% endblock %}
