{% extends "layout-apply-ni-number.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large" style="">National Insurance number sent</h1>
        <p>
          to the {{ data['how-to-contact'] }}<br>
      {% if data.how-to-contact=="email" %}
          <strong class="heading-xlarge">harrytrimble@gmail.com</strong>
      {% elif data.how-to-contact=="phone number" %}
          <strong class="heading-xlarge">07760816534</strong>
      {% else %}
          <strong class="heading-xlarge">
            10 Haggard Road<br>
            Twickenham<br>
            TW1 3AF
          </strong>
      {% endif %}

        </p>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>You can now start work and paying income tax</p>
      <p><a href="#">Find out more about National Insurance numbers</a></p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
