{% extends "layout.html" %}

{% block page_title %}
  Prove your identity in the UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Alpha - version 2</span>
        Prove your identity in the UK
      </h1>

      <h2 class="heading-large">Sprint 2</h2>

      <p>Options to integrate into government services:</p>

			<ul class="list list-bullet">
				<li><a href="/multiple-brands">Multiple brand journey</a></li>
				<li><a href="/single-brand">Single brand journey</a></li>
			</ul>

		<p>Options for private, smaller services:</p>

			<ul class="list list-bullet">
				<li><a href="/share-code/">Share code</a></li>
				<li><a href="/send">Magic link</a></li>
			</ul>

      <p>Assumptions being tested this sprint:</p>

			<ul class="list list-bullet">
				<li>
					How users prove identity is different depending on type of service. For example a large government service or small private sector service
				</li>
				<li>
					User can prove their identity more easily when we don't expose them to the structure of government
				</li>
				<li>
					Assumption 3
				</li>
			</ul>

      <p>Design decision to test:</p>

			<ul class="list list-bullet">
				<li>
					Test three ways to prove someone's identity
				</li>
				<li>
					Test three service names
				</li>
			</ul>

		<p><a href="https://github.com/HarryTrimble/prove-identity-in-uk/">Code repository on GitHub</a></p>

      <h2 class="heading-large">Sprint 1</h2>

      <p>Three options tested:</p>

			<ul class="list list-bullet">
				<li><a href="https://prove-identity-in-uk-v1.herokuapp.com/multiple-brands">Multiple brand journey</a></li>
				<li><a href="https://prove-identity-in-uk-v1.herokuapp.com/single-brand">Single brand journey</a></li>
				<li><a href="https://prove-identity-in-uk-v1.herokuapp.com/share-code/ni-start-page">Share code for identity information</a></li>
			</ul>

      <p>Assumptions being tested this sprint:</p>

		<ul class="list list-bullet">
			<li>
				Assumption 1
			</li>
			<li>
				Assumption 2
			</li>
			<li>
				Assumption 3
			</li>
		</ul>

      <p>Design decision to test:</p>

		<ul class="list list-bullet">
			<li>
				Test three ways to prove someone's identity
			</li>
			<li>
				Test three service names
			</li>
		</ul>

		<p><a href="https://github.com/HarryTrimble/prove-identity-in-uk/releases/tag/version-1">Code repository on GitHub</a></p>


    </div>
  </div>
</main>

{% endblock %}


