{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Alpha</span>
        Prove your identity in the UK
      </h1>

      <h2 class="heading-large">Sprint 1</h2>

      <p>Three options to be tested:</p>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Multiple brand journey</a></li>
				<li><a href="/single-brand">Single brand journey</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">Share code for identity information</a></li>
			</ul>

      <p>Assumptions being tested this sprint:</p>

			<ul class="list list-bullet">
				<li>
					Assumption 1
				</li>
				<li>
					Assumption 2
				</li>
				<li>
					Assumption 3
				</li>
			</ul>

      <p>Design decision to test:</p>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Test three ways to prove someone's identity
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Test three service names
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


